.App {
  width: 100%;
  display: flex;
  justify-content: center;

}

.container{
  width: 500px;
  background-color: orange;
  padding: 40px 40px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

}

.input--wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  margin-bottom: 20px;
}
